@import '../styles/variables.scss';

.year-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    height: 100%;
    width: 100vw;
    padding-top: 10%;
    margin-top: 10%;
   
  
    // Hide scrollbar across all browsers
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
      display: none;
    }
  
    > div {
      scroll-snap-align: start;
      flex: 0 0 100vw;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
    }
}

.title-section img {
  width: 90%;
  margin-left: -5% !important;
}

.text-section {
    padding: 5%;
    p {
        margin: 0 auto;
        padding: 5%;
        word-wrap: break-word;
        width: 75%;
    }
}

@media (min-width: $breakpoint-desktop) {
  .year-container {
    margin-top: 0;
    padding-top: 5%;
    display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
    
  }
  .title-section img {
    width: 80%;
  }
}