.gallery {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0;
  
  ::-webkit-scrollbar {
    display: none; // Optionally hide the scrollbar on WebKit browsers
  }
  
  .gallery-item {
    flex: 0 0 auto; // Prevent flex items from growing or shrinking
    scroll-snap-align: start;
    margin-right: 20px;
    width: 100%; // You can set a fixed width if you prefer
    
    .gallery-image {
      width: 100%;
      height: auto;
      display: block;
    }
    
    .gallery-item-info {
      // Styles for your text, add padding, margins, etc.
    }
  }
}