.gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
 
  
  ::-webkit-scrollbar {
    display: none; 
  }
  
  .gallery-item {
    flex: none;
    scroll-snap-align: start;
    width: 95%; // Each gallery item takes full viewport width
    height: 100vh; // Each gallery item takes full viewport height
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
    padding-left: 1%;
    
    .gallery-image {
      max-width: 100%; // Ensure it's responsive and doesn't overflow its container
      height: 400px; // Set a maximum height
      object-fit: contain; // Keep the aspect ratio of the image
    }
    
    .gallery-item-info {
      // Additional styles here
      text-align: center; // Center the text
    }
  }
}