@import '../styles/variables.scss';

// Mobile-first approach: Element is visible by default
.nav-mobile {
  display: block; 
  justify-content: flex-end; 
  align-items: center; 
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  background: transparent;
  top: 0; 
  left: 0;
  width: 100%;
  
  
  z-index: 1000; 



  // Hide the element on large screens
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.menu-overlay {
  position: relative;
  // Starts below any fixed header you might have
  left: 0;
  right: 0;
  background: transparent;
  padding-left: 5%;
  height: 100vh;
  z-index: 1000; // Ensure it's above other content
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: fit-content;

  li {
    padding: 0.5rem 0; // Padding for each menu item

    a {
      text-decoration: none;
      color: $font-color-dark; // Color for the links
      display: block;
    }
  }
}