@import '../styles/variables.scss';

// Mobile-first approach: Element is visible by default
.nav-mobile {
  display: block;
  position: fixed;
  right: 0;
  padding-top: 1rem;
  padding-right: 1rem;



  // Hide the element on large screens
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.menu-overlay {
  position: fixed;
  // Starts below any fixed header you might have
  left: 0;
  right: 0;
  background: $font-color-light;
  backdrop-filter: blur(10px);
  padding-left: 5%;
  height: 100vh;
  z-index: 1000; // Ensure it's above other content
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: fit-content;

  li {
    padding: 0.5rem 0; // Padding for each menu item

    a {
      text-decoration: none;
      color: $font-color-dark; // Color for the links
      display: block;
    }
  }
}